body {
    margin: 0;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL', sans-serif;  
    text-align: center;                                          
}

.team-title {
    color: #EEEEEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin-block: 60px 20px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.score {
    background-color: #080001;
    color: #F94F6D;
    border-radius: 5px;
    font-size: 90px;
    margin-bottom: 26px;
}

.score-btn {
    background-color: #1B244A;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px;
}